
{% extends "ConvertDeviseBundle::layoutAdmin.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block devise_body %}

 <div class="col-lg-8 col-md-8 col-xs-12 col-lg-offset-2">
           {% set i=0 %}  
      <div class="col-lg-2 col-md-4 col-xs-6 bg-info ">
                            Devise Source
     </div>
                    
      <div class="col-lg-2 col-md-4 col-xs-6 bg-info">
                        Devise Cible
     
     </div>
     <div class="col-lg-2 col-md-4 col-xs-6  bg-info">
                           IP Client
     </div>
                    
                    
      <div class="col-lg-1 col-md-4 col-xs-6 bg-info">
                       Cours
     
     </div>
     <div class="col-lg-1 col-md-4 col-xs-6 bg-info">
                             Montant 
     </div>
      <div class="col-lg-3 col-md-4 col-xs-6 bg-info">
                             Date 
     </div>
      <div class="col-lg-1 col-md-4 col-xs-6 bg-info">
                             Etat ip(0 bloqué)
     </div>
      {% for historique in historique %}
     
      {% if i%2 %}
     {% set i=i+1 %}
     <div class="col-lg-2 col-md-4 col-xs-6">
                             {{ historique.source }}  
     </div>
                    
      <div class="col-lg-2 col-md-4 col-xs-6 ">
                         {{ historique.cible }}
     
     </div>
     <div class="col-lg-2 col-md-4 col-xs-6  ">
                             {{ historique.ipdclient }}  
     </div>
                    
                    
      <div class="col-lg-1 col-md-4 col-xs-6 ">
                         {{ historique.cour }}
     
     </div>
     <div class="col-lg-1 col-md-4 col-xs-6 ">
                             {{ historique.montant }}  
     </div>
     <div class="col-lg-3 col-md-4 col-xs-6 ">
                    {{ historique.datedemande.date }}
     
     </div>
     <div class="col-lg-1 col-md-4 col-xs-6  ">
                             {{ historique.etatip }}  
     </div>
     {% else%}
     {% set i=i+1 %}
     <div class="col-lg-2 col-md-4 col-xs-6 bg-success">
                             {{ historique.source }}  
     </div>
                    
      <div class="col-lg-2 col-md-4 col-xs-6 bg-success">
                         {{ historique.cible }}
     
     </div>
     <div class="col-lg-2 col-md-4 col-xs-6  bg-success">
                             {{ historique.ipdclient }}  
     </div>
                    
                    
      <div class="col-lg-1 col-md-4 col-xs-6 bg-success">
                         {{ historique.cour }}
     
     </div>
     <div class="col-lg-1 col-md-4 col-xs-6 bg-success">
                             {{ historique.montant }}  
     </div>
      <div class="col-lg-3 col-md-4 col-xs-6 bg-success">
        {{ historique.datedemande.date }}                  
     
     </div>
     <div class="col-lg-1 col-md-4 col-xs-6 bg-success">
                             {{ historique.etatip }}  
     </div>
       
             {%endif %}
     
     
             {% endfor %}
                           
                          
                      

 </div>
 
{% endblock %}